:root {
  --clr-primary: ;
  --clr-secondary: #8D9C9D;

  --clr-accent-cool: #B5BCD0;
  --clr-accent-neutral: #C5CFB4;
  --clr-accent-warm: #362D26;

  --clr-light: #EDE9DC;
  --clr-dark200: #8D8D8F;
  --clr-dark500: #3A3A3C;

  --ff-primary: 'Poppins', sans-serif;
  --ff-body: var(--ff-primary);
  --ff-accent: ;
  --ff-heading: ;

  --fw-regular: 200;
  --fw-semi-bold: 300;
  --fw-bold: 500;

  --fs-200: 0.715rem;
  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 1rem;
  --fs-600: 1.2rem;

  --fs-nav: var(--fs-300);
  --fs-btn: var(--fs-400);
  --fs-body: var(--fs-500);
  --fs-heading: var(--fs-600);
}

/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-body);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-body);
  background-color: var(--clr-bg);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

/* Utility classes */
.align-all {
  padding: 0 3%;
}