:root {
  --clr-primary: ;

  --clr-accent-light: ;
  --clr-accent-dark: ;

  --clr-neutral-light: ;
  --clr-neutral-dark: ;

  --ff-primary: 'Poppins', sans-serif;
  --ff-body: var(--ff-primary);
  --ff-accent: ;
  --ff-heading: ;

  --fw-regular: 200;
  --fw-semi-bold: 300;
  --fw-bold: 500;

  --fs-300: 0.875rem;
  --fs-400: 0.8125rem;
  --fs-500: 1rem;
  --fs-600: 1.2rem;

  --fs-nav: var(--fs-300);
  --fs-btn: var(--fs-400);
  --fs-body: var(--fs-500);
  --fs-heading: var(--fs-600);
}

/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-body);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-body);
  background-color: antiquewhite;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

/* Utility classes */

.header {
  background-color: green;
  display: flex;
  justify-content: space-between;
}

#navbar a.active {
  color: red;
}